awscli>=1.11.93
click>=6.7
conda>=4.3.21
cookiecutter>=1.5.0
dask>=0.14.3
ipython>=6.0.0
jupyter>=1.0.0
matplotlib>=2.0.2
numpy>=1.12.1
pandas>=0.20.1
pyflakes>=1.5.0
scikit-learn>=0.18.1
scipy>=0.19.0
seaborn>=0.7.1
Sphinx>=1.5.6
tensorflow>=1.0.0
tqdm>=4.11.2
